---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const offersEntries = await getCollection('offers');
	return offersEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} | Antonina Gliwinska`}>
	<div class="markdown-content container mx-auto my-8">
		<Content />
	</div>
</Layout>

<style is:global>
	.markdown-content h1 {
		font-weight: bold;
	}

	.markdown-content ul {
		list-style: circle;
		list-style-position: inside;
	}

	.markdown-content h1 {
		font-size: 1.25rem;
	}

	.markdown-content h1,
	.markdown-content h2 {
		margin-top: 1rem;
	}

	.markdown-content img {
		height: 20rem;
		width: auto;
		margin: 0 auto;
	}
</style>
