---
import { Image } from 'astro:assets';
import AvatarPhoto from '../images/avatar.jpg';
import TappingPhoto from '../images/tapping.jpg';
import NeckPhoto from '../images/szyja.jpg';
import FacePhoto from '../images/twarz.jpg';
import FirstShouldersPhoto from '../images/barki.jpg';
import SecondShouldersPhoto from '../images/ramiona.jpg';
import HeroBackgroundImage from '../images/background.jpg';

type GridImage = { src: ImageMetadata; alt: string };

const gridImages: Array<GridImage> = [
	{ src: HeroBackgroundImage, alt: 'b' },
	{ src: TappingPhoto, alt: 'a' },
	{ src: NeckPhoto, alt: 'b' },
	{ src: FacePhoto, alt: 'a' },
	{ src: FirstShouldersPhoto, alt: 'b' },
	{ src: SecondShouldersPhoto, alt: 'b' },
];
---

<div class="mx-auto min-h-screen max-w-[1024px] scroll-mt-6 p-8" id="about">
	<div class="flex flex-col gap-4 md:h-64 md:flex-row md:gap-8">
		<Image
			src={AvatarPhoto}
			alt="To ja"
			class="h-full w-auto object-cover sm:w-full md:w-64 lg:w-96"
		/>
		<div class="flex flex-col justify-between gap-2 md:gap-0">
			<h1 class="text-2xl font-semibold">Jestem Antonina</h1>
			<p class="text-justify text-base md:text-sm lg:text-base">
				Jestem doświadczoną masażystką ze stażem pracy wynoszącym 14 lat. Od
				2008 roku prowadzę własny gabinet, który stał się moim życiowym dziełem.
				Moje doświadczenie zawodowe obejmuje pracę w najbardziej renomowanych
				hotelach spa, takich jak Malinowy Zdrój Hotel Medical Spa w Solcu Zdroju
				czy Bristol Art & Medical Spa w Busko-Zdroju. Dla mnie praca to nie
				tylko obowiązek, to prawdziwa pasja, która sprawia mi ogromną
				satysfakcję, ponieważ mogę pomagać innym poprzez masaż i dbanie o ich
				dobrostan.
			</p>
		</div>
	</div>
	<div
		class="mt-8 hidden flex-wrap justify-center gap-8 md:flex md:justify-between"
	>
		{
			gridImages.map((image) => (
				<Image src={image.src} alt={image.alt} class="h-full w-auto sm:h-48" />
			))
		}
	</div>
</div>
