---
import { Image } from 'astro:assets';
import AvatarPhoto from '../images/avatar.jpg';
---

<div class="flex scroll-mt-6 flex-col gap-4 bg-blue-50 p-4" id="contact">
	<h1 class="text-center text-2xl font-semibold">Kontakt</h1>
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.8804572362533!2d19.923769815717648!3d50.069800379424684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba86d303449%3A0xfaea9d2d8f986a16!2splac%20Inwalid%C3%B3w%207%2C%2033-332%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1579698077399!5m2!1spl!2spl"
		title="Lokalizacja"
		class="h-64 w-full"></iframe>
	<div class="flex items-center justify-center gap-4">
		<Image
			src={AvatarPhoto}
			alt="To ja"
			class="h-full w-auto object-cover sm:w-full md:w-64"
		/>
		<div>
			<p class="text-xl font-semibold">Umów się na wizytę!</p>
			<p class="text-lg">+48 791-262-186</p>
		</div>
	</div>
</div>
