---
import { Image } from 'astro:assets';
import LogoImage from '../images/logo.png';
import HamburgerIcon from '../assets/menu.svg';

type Anchor = { link: string; text: string };

const anchors: Array<Anchor> = [
	{ text: 'Strona Główna', link: '/#hero' },
	{ text: 'O mnie', link: '/#about' },
	{ text: 'Oferta', link: '/#offer' },
	{ text: 'Kontakt', link: '/#contact' },
];
---

<nav class="sticky top-0 flex items-center justify-between bg-slate-200 pl-4">
	<a href="/#hero">
		<Image
			src={LogoImage}
			alt="logo"
			width={40}
			height={53}
			class="object-cover object-center"
		/>
	</a>
	<Image src={HamburgerIcon} alt="" class="md:hidden" />
	<ul class="hidden gap-4 md:flex">
		{
			anchors.map((anchor) => (
				<a href={anchor.link} class="p-4 text-gray-900 hover:bg-slate-400">
					<li>{anchor.text}</li>
				</a>
			))
		}
	</ul>
</nav>
