---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-pt-8 scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Od 2008 roku z pasją i oddaniem prowadzę swój własny gabinet, który w
				ciągu tych lat stał się esencją mojego życiowego powołania. Moja ścieżka
				zawodowa przewinęła się przez najbardziej prestiżowe hotele spa w kraju,
				takie jak Malinowy Zdrój Hotel Medical Spa w Solcu Zdroju oraz Bristol
				Art & Medical Spa w Busko-Zdroju. Dla mnie, praca to nie tylko zawód,
				ale głęboko zakorzeniona pasja. Odkrywam w niej nieopisaną radość, mając
				szansę poprzez masaż i troskę o zdrowie przynosić ulgę i odprężenie moim
				pacjentom."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
